<template>
    <div class="row">

              <div class="col-12 col-lg-8">

                <div class="input-icons">
                   <i class="mdi mdi-magnify icon"></i>
                    <input type="text" class="form-control input-field" placeholder="Find product by name or product code" aria-label="search" aria-describedby="search">
                </div>

                <ul class="nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                  </li><li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                  </li><li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                  </li>
                </ul>

                <div class="tab-content tab-content-custom-pill" id="pills-tabContent-custom">

                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <div class="row">

                        <div class="col-md-4 col-xl-3 grid-margin stretch-card product_list">

                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/151x151" alt="Card image cap">
                              <div class="card-body">

                              </div>
                            </div>
                        </div>

                          <div class="col-md-4 col-xl-3 grid-margin stretch-card product_list">

                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/151x151" alt="Card image cap">
                              <div class="card-body">

                              </div>
                            </div>
                        </div>

                          <div class="col-md-4 col-xl-3 grid-margin stretch-card product_list">

                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/151x151" alt="Card image cap">
                              <div class="card-body">

                              </div>
                            </div>
                        </div>

                          <div class="col-md-4 col-xl-3 grid-margin stretch-card product_list">

                            <div class="card">
                                <img class="card-img-top" src="https://via.placeholder.com/151x151" alt="Card image cap">
                              <div class="card-body">

                              </div>
                            </div>
                        </div>
                    </div>




                  </div>
                </div>







                <!-- Products -->
              </div>

              <div class="col-6 col-md-4 col-lg-4">

                <div class="card">
                  <div class="card-body">

                  </div>
                </div>
              </div>

            </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
