<template>

    <div>

    <Nav></Nav>

    <div class="container-fluid page-body-wrapper">

    <!-- sidebar for the form(which is for processing order) -->
      <sideBar></sideBar>

      <div class="main-panel">
        <div class="content-wrapper">

           <router-view></router-view>

        </div>
      </div>



  </div>

    </div>

</template>

<script>
import Nav from './navbar'
import sideBar from './sidebar'
export default {
    name: 'home',
    components:{
        'Nav': Nav,
        'sideBar': sideBar
    }
}
</script>

<style>
    .container {

  padding: 1.25rem !important;
}

.main-panel {

      width: calc(100% - 240px);
}

.input-icons i {
    position: absolute;
    float: right;
  }

  .input-icons {
      width: 100%;
      margin-bottom: 10px;
  }

  .icon {
      padding: 6px;
      float:right;
      /* color: green; */
      /* min-width: 98%; */
      text-align: right;
      font-size: 20px;
  }

  .input-field {
      width: 100%;
      padding: 10px;
      text-align: center;
    }

  .cat_btn{
    max-width: 15.66667% !important;
  }

  .cat_btn button {
    width: 120px;
    border-radius: 2px;
    font-size: 0.75rem !important;
  }

  .activebtn button{
    background-color:#FFBA00;
    border-color: #FFBA00;
  }

  .nav-pills {
    border-bottom: none;
  }

  .tab-content{
    border: none;
  }

  .stretch-card {
    cursor: pointer;
  }

  .product_list{
    transition: transform .4s;
  }
  .product_list:hover{
     background: #fff 0% 0% no-repeat padding-box;
    transform: scale(1.1);
  }

.nav-pills-success .nav-link.active {
    /* background: #3bb001; */
     background:#FFBA00 !important;
     color: #fff;
}

.nav-pills-success .nav-link {
    color: #FFBA00;
}

.nav-item {
  margin-top: 10px;
}
</style>
