<template>

    <div>
        <loader></loader>

        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-center auth px-0">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5 border">
                                <div class="brand-logo">

                                </div>

                                <h4>Hello! let's get started</h4>
                                <h6 class="font-weight-light">Sign in to continue.</h6>
                                <form action="" class="pt-3" @submit.prevent="login">
                                     <div class="form-group">
                                        <div id="server-error-msg" class="error  text-danger"></div>

                                         <div id="server-success-msg" class="" style="color:green;"></div>
                                        <input type="text" class="form-control form-control-lg monitor" id="email" placeholder="Enter your email" v-model="formdata.username">
                                        <label for="email" id="email-error-msg" class="error  text-danger"></label>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg monitor" id="password" placeholder="Password" v-model="formdata.password">
                                         <label id="password-error-msg" class="error  text-danger" for="password"></label>
                                    </div>
                                     <div class="">
                                        <button type="submit" style="background-color: #81C041; border: none;"
                                        class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
                                    </div>
                                    <div class="my-2 d-flex justify-content-between align-items-center">
                                        <a href="" class="auth-link text-black">Forgot password?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>

<script>
    import loader from './loader'
    export default {
        name: "login-component",
        data() {
            return {
                formdata :{
                    'username':'',
                    'password':''
                },
                iserror:false
            }
        },
        methods: {

            login(){

                if(this.formdata.username == ""){
                    $('#password-error-msg').html("");
                    $('#email-error-msg').html('Email field required');
                    $('#email')
                            .parent(".form-group")
                            .removeClass("has-danger");
                            $('#email-error-msg').fadeIn();

                    return false;
                }else if(this.formdata.password == ""){
                      $('#email-error-msg').html("");
                        $('#password-error-msg').html("Password field required");
                                $("#password")
                                    .parent(".form-group")
                                    .removeClass("has-danger");
                                $('#password-error-msg').fadeIn();

                        return false;
                }else{
                     toggleFullPageLoader(true);

                     axios.post('login', this.formdata)
                            .then(res=> {

                                if(res.status == 200){
                                    toggleFullPageLoader(false);
                                    window.location.replace("/index");
                                    //this.$router.push('home')
                                }

                            })
                            .catch((error)=> {

                                console.log(error)

                                const errors = error.response.data.message || error.response.data.errors || error.response.data.data || error.response.data;

                                if(typeof errors.email === "object"){
                                    $("#server-success-msg").html("");
                                    $("#server-success-msg").fadeOut();
                                    $("#server-error-msg").html(errors.email[0]);
                                    $("#server-error-msg").fadeIn();
                                }else{
                                      $("#server-success-msg").html("");
                                      $("#server-success-msg").fadeOut();
                                      $("#server-error-msg").html(errors);
                                      $("#server-error-msg").fadeIn();
                                }
                                 toggleFullPageLoader(false);
                            })


                }
            }
        },
        components:{
            'loader':loader
        }
    }
</script>

<style>
    .auth form .form-group {
            margin-bottom: 0;
        }
</style>

