<template>
   <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

     <div class="text-center navbar-brand-wrapper d-flex align-items-center" id="logoheader">
        <a class="navbar-brand brand-logo" href=""><img src="/images/logo-white.svg" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href=""><img src="/images/logo-mini.svg" alt="logo"/></a>
      </div>

      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>



         <ul class="navbar-nav navbar-nav-right">

           <li class="nav-item nav-profile dropdown" style="width: 50%;">
            <a class="nav-link" href="#" data-toggle="dropdown" id="profileDropdown">
              <div style=" display:flex; flex-direction: row; justify-content: space-between;">
                 <img src="/images/default_image.png" alt="profile"/>
                 <p class="welcome-back-text">
                   Welcome,  <span>Jonathan</span>
                 </p>
              </div>


            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="mdi mdi-settings "></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="mdi mdi-logout"></i>
                Logout
              </a>
            </div>
          </li>

         </ul>


      </div>

   </nav>
</template>

<script>

export default {
    data(){
        return {
            greeting: 'Hello'
        }
    },
    methods:{

    },
    components:{

    },
    mounted(){
        //alert(this.greeting)
    }



}

</script>

<style>
    .central-system h5 {
        font-size: 20px !important;
    }

    .my-nav-link span {
    /* margin-bottom: 0.2rem;
    font-weight: bold; */
    font-size: 20px !important;
}

.font-weight-normal {
    font-size: 1rem !important;
}

.welcome-back-text {
    margin-left: 5px;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
}

.welcome-back-text span {
    color: #380358;
}

#logoheader{
  background: #FFBA00 !important;
  border-right: none;
}
</style>
