<template>

    <nav class="sidebar sidebar-offcanvas" id="sidebar">

        <ul class="nav">
            <li class="nav-item">
                <router-link exact :to=" {name: 'home'}" class="nav-link">
                    <i class="mdi mdi-sale menu-icon"></i>
                     <span class="menu-title">Products</span>
                </router-link>
                <!-- <a href="" class="nav-link">
                    <i class="mdi mdi-sale menu-icon"></i>
                    <span class="menu-title">Products</span>
                </a> -->
            </li>
        </ul>
    </nav>
</template>


