.sidebar-dark .sidebar .nav .nav-item.active > .nav-link .menu-title {
    color:  #00BCE1;
}
.sidebar-dark .sidebar .nav .nav-item.active > .nav-link i {
    color:  #00BCE1;
}
.sidebar-dark .sidebar .nav .nav-item .nav-link:visited {
    /* color:  #00BCE1 !important; */
}

.sidebar-dark .sidebar .nav .nav-item .nav-link:hover {
    color:  #00BCE1 !important;
}

.navbar-toggler {
    /* color:  #00BCE1 !important; */
}
.form-control-lg {
    padding: 0.375rem 0.75rem !important;

}
.chat-list .list:hover {
    background-color: #cdd4e0;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 50% !important;
}
.settings-panel .chat-list .list.active {
    background-color: #00bbe1a9;
}
.settings-panel .nav-tabs .nav-item .nav-link.active {
    color: #00BCE1;
}
.settings-panel .settings-close {
    color: #00BCE1;
}
.edit-btn {
    border: 1px solid #00BCE1;
    color: #00BCE1;
    margin-right: 2%;
}
.edit-btn:hover {
    background-color: #00BCE1;
    color: white;
    border: none;
}

div.tagsinput span.tag {
    background-color: #00BCE1 !important;
}
.nav-pills-success .nav-link.active {
    background-color:  #83be21;
}
.nav-pills-success .nav-link {
    color: rgba(0, 0, 0, 0.637);
}
.member-query-table .table-striped tbody tr:nth-of-type(odd) {
    background-color: #00006621;
}
.redemption-btn {
    border: none;
    color: black;
}
.redemption-btn:hover {
    border: none;
  background-color: white;
    color: #00BCE1;
}
.perx-blue {
    color: #00BCE1 !important;
}
.text-muted-sigma {
    color: #00BCE1;
    font-weight: 400;
}
.success-text {
    color: green;
}
.row-flexed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.perx-green {
    background-color: #83be21 !important;
}
.failed-text {
    color: red;
}
.large-cont-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.delete-btn {
    border: 1px solid rgba(255, 0, 0, 0.603);
    color: rgba(255, 0, 0, 0.603);
    margin-right: 2%;
}
.delete-btn:hover {
    background-color: rgba(255, 0, 0, 0.603);
    color: white;
    border: none;
}
.disable-btn {
    border: 1px solid #000066;
    color: #000066;
    margin-right: 2%;
}
.disable-btn:hover {
    background-color: #000066;
    color: white;
    border: none;
}
.table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {

}
.dataTables_wrapper .dataTable thead .sorting:before, .dataTables_wrapper .dataTable thead .sorting_asc:before, .dataTables_wrapper .dataTable thead .sorting_desc:before, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:before, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
    display: none;
}
.dataTables_wrapper .dataTable thead .sorting:after, .dataTables_wrapper .dataTable thead .sorting_asc:after, .dataTables_wrapper .dataTable thead .sorting_desc:after, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:after, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
    display: none;
}
.dataTables_wrapper .dataTable thead .sorting:before, .dataTables_wrapper .dataTable thead .sorting_asc:before, .dataTables_wrapper .dataTable thead .sorting_desc:before, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:before, .dataTables_wrapper .dataTable thead .sorting_desc_disabled::after{
    display: none;
}
.pagination .page-item.active .page-link, .jsgrid .jsgrid-pager .page-item.active .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button .page-link, .jsgrid .jsgrid-pager .active.jsgrid-pager-page .page-link, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-nav-button a, .pagination .page-item.active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item.active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item.active a, .jsgrid .jsgrid-pager .active.jsgrid-pager-page a, .pagination .page-item:hover .page-link, .jsgrid .jsgrid-pager .page-item:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover .page-link, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:hover a, .pagination .page-item:hover .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:hover .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:hover a, .jsgrid .jsgrid-pager .jsgrid-pager-page:hover a, .pagination .page-item:focus .page-link, .jsgrid .jsgrid-pager .page-item:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus .page-link, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:focus a, .pagination .page-item:focus .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:focus .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:focus a, .jsgrid .jsgrid-pager .jsgrid-pager-page:focus a, .pagination .page-item:active .page-link, .jsgrid .jsgrid-pager .page-item:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active .page-link, .jsgrid .jsgrid-pager .jsgrid-pager-page:active .page-link, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-nav-button a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button .page-item:active a, .jsgrid .jsgrid-pager .jsgrid-pager-nav-button:active a, .pagination .page-item:active .jsgrid .jsgrid-pager .jsgrid-pager-page a, .jsgrid .jsgrid-pager .page-item:active .jsgrid-pager-page a, .jsgrid .jsgrid-pager .jsgrid-pager-page .page-item:active a, .jsgrid .jsgrid-pager .jsgrid-pager-page:active a{
    border: 1px solid #00BCE1;
    background-color: #00BCE1;
}

.dt-buttons .dt-button {
     border: 2px solid #00BCE1 !important;
     background-color: #00BCE1 !important;
     color: white !important;
}

.form-check-primary.form-check label input[type="checkbox"]:checked + .input-helper:before, .form-check-primary.form-check label input[type="radio"]:checked + .input-helper:before {
    background-color: #00BCE1;
}
.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
    border: 2px solid #00BCE1 !important;
}
.form-check .form-check-label input[type="radio"] + .input-helper:before {
    border: 2px solid #00BCE1 !important;
}
.form-check .form-check-label input[type="radio"]:checked + .input-helper:before {
    background-color: #00BCE1;
}
.button-rows {
    width: 25%;
}
.btn-primary, .wizard > .actions a {
    background-color: #00BCE1;
    border-color: #00BCE1;
}
.chats-section img {
    width: 40px;
    height: 40px;
}
.badge-warning, .preview-list .preview-item .preview-thumbnail .badge.badge-busy {
    color: white;
}
.label-desc {
    color: #00BCE1;
    text-align: right;
    font-size: 13px;
}
.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:before {
    background-color: #00BCE1;
}
.used-cards p {
    margin: 0px;
    font-size: 15px;
    font-weight: 500;
}
.used-cards p:first-child {
    color: #00BCE1;
}
.flex-container-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.modal-btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.nav-div-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.dashboard-header h4 {
    font-size: 1.125rem;
}

@media screen and (max-width : 700px) {
    .stretch-card .btn {
        width: 100% !important;
    }
    .button-rows {
        width: 100%;
    }
}

.loader-demo-box {
    height: 100vh;
    position: fixed;
    z-index: 999999999999999;
    border: none !important;
    background-color: rgba(0, 0, 0, 0.4);
}

.loader-demo-box.d-none {
    display: none !important;
}

.circle-loader:before {
    border-top-color: #00BCE1;
}

.circle-loader:after {
    border: 10px solid grey;
}

input.form-control:disabled {
    background-color: transparent;
    cursor: not-allowed;
}

.form-group {
    margin-bottom: 1.5;
}



.swal-modal {
    width: 450px !important;
}

.swal-footer {
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.swal-modal .btn-alert-btn {
    background-color: #81C041;
    color: #fff;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px;
    margin-bottom: 10px;
}

.swal-title {
    font-size: 25px;
}

.swal-text {
    font-weight: 500;
}

.btn-alert-btn:hover {
    background-color: #81C041 !important;
    color: #fff;
}

.form-group label {
    margin-bottom: 0.2rem;
}

.form-check {
    margin-top: 0;
}

.form-check-group:not(:last-child) {
    margin-right: 15px;
}

.form-check .form-check-label {
    font-weight: 600;
    margin-left: 1.4rem;
}

.form-check .form-check-label input[type="checkbox"]:checked+.input-helper:before {
    background-color: #00BCE1;
}

.white-background-card {
    background: white;
    border: 1px solid #cdd4e0;
    color: #1c273c;
}

.used-cards p {
    margin: 0px;
    font-size: 15px;
    font-weight: 500;
}

.used-cards p:first-child {
    color: #51087E;
}

.flex-container-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.nav-div-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.dashboard-header h4 {
    font-size: 1.125rem;
}

/* .sidebar-dark .sidebar {
    background-color: #380358;
}

.sidebar-dark .navbar .navbar-brand-wrapper {
    background-color: #380358;
} */

.sidebar-dark .sidebar .nav .nav-item .nav-link .menu-title {
    color: white;
    opacity: 0.5;
}

.sidebar-dark .sidebar .nav .nav-item.active>.nav-link .menu-title {
    color: white;
    opacity: 0.5;
}

.welcome-back-text {
    margin-left: 5px;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
}

.welcome-back-text span {
    color: #380358;
}

.main-panel .breadcrumb {
    width: 100% !important;
}

.profile-image-session {
    margin: 15px 0px;
}

.profile-image-session .circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background: #51087E
}

.save-btn {
    background: #51087E;
    color: white;
    border: none;
}

.notification-card {
    border: 1px solid #CDD4E0;
    min-height: 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    margin: 20px 0px;


}

.notification-card p {
    margin: 0px;
    padding: 0px;
}

.notification-card i {
    font-size: 19px;
}

.appointment-container {
    margin-bottom: 3%;
}

.appointment-card {
    min-height: 100%;
    background-color: #008080;
    border-radius: 5px;
}

.appointment-card2 {
    min-height: 100%;
    background-color: #FFBA00;
    border-radius: 5px;
}

.appointment-card3 {
    min-height: 100%;
    background-color: #02AC3D;
    border-radius: 5px;
}

.appointment-card4 {
    min-height: 100px;
    background-color: #DB0324;
    border-radius: 5px;
}

.appointment-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 15px;
}

.appointment-contents p {
    color: white;
    text-align: center;
}

.appointment-contents p:first-child {
    color: white;
    font-weight: bold;
}

.fc-external-events .fc-event:nth-child(1) {
    border-color: black;
}

.fc-external-events .fc-event:nth-child(2) {
    border-color: #F57100;
}

.fc-external-events .fc-event:nth-child(4) {
    border-color: #DB0324;
}

.fc-external-events .fc-event:nth-child(3) {
    border-color: #02AC3D;
}

.fc .fc-button-group .fc-button.fc-state-active {
    color: #51087E;
}

.cancel-btn {
    border: 1px solid #DB0324;
    color: #DB0324;
    font-size: 12px;
    border-radius: 3px;
    width: 100%;
    /* height: 35px; */
}

.confirm-btn {
    background-color: #F57100;
    color: white;
    border-radius: 3px;
    font-size: 12px;
}

.patient-btn {
    background-color: #51087E;
    color: white;
    border-radius: 3px;
    font-size: 12px;
}

.patient-btn:hover {
    background-color: #51087E;
    color: rgba(255, 255, 255, 0.521);
    border-radius: 3px;
    font-size: 12px;
}

.check-btn {
    background-color: #51087E;
    color: white;
    border-radius: 3px;
    font-size: 12px;
}

.check-btn:hover {
    background-color: #51087E;
    color: rgba(255, 255, 255, 0.459);
    border-radius: 3px;
    font-size: 12px;
}

.patient h6 {
    margin-bottom: 0px !important;
    padding-bottom: 0.2rem !important;
}

.patient p {
    /* margin: 0px;
    padding: 0px; */

}

.display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.display-container p:first-child {
    color: black;
    font-weight: bold;
    font-size: 13px;
}

.display-container p:last-child {
    opacity: 0.5;
    text-align: right;
    font-size: 13px;
}

.display-container .status {
    color: #F57100;
    opacity: 1;
    font-weight: bold;
}

.appointment-contents img {
    width: 20%;
}

.patient-card {
    background: #6C0BA9 0% 0% no-repeat padding-box;
    border: 1px solid #CDD4E0;
    border-radius: 5px;
    opacity: 1;
    min-height: 70px;
    max-height: 85px;
    margin-bottom: 1rem;
    padding: 5px 10px;
    box-shadow: 3px 5px 5px 3px #88888893;
}

.patient-card .info-container {
    padding: 1.3rem;
}

.info-container {
    color: white;
    font-weight: bold;
}

.patient-card img {
    /* width: 100%; */
    height: 45%;
    width: 9.5rem;
}

.pickers-forms label {
    color: #151617;
}

.search-btn {
    background-color: #51087E;
    color: white;
    width: 80%;
}

.search-btn:hover {
    background-color: #51087E;
    color: rgba(255, 255, 255, 0.699);
}

.view-btn {
    color: #51087E;
}

.margin-added {
    margin: 10px;
}

.slot-btn {
    background-color: #DB0324;
    color: white;
    width: 80%;
}

.new-nav-tab {
    background: #fff !important;
    color: #51087E !important;
    margin-bottom: 0.9rem;
    text-align: center;
}

.new-nav-tab.active {
    background: #51087E !important;
    color: white !important;
}

.nav-link{
    border-radius: 4px 4px 0 0 !important;
}

.table-responive{
    overflow-x:scroll;
}

.modal .modal-dialog {
    margin-top: 10px !important;
}

.products {
    /* border: none;
    border-radius: 6px; */
    /* width: 326px;
    min-height: 150px; */
    cursor: pointer;
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    /* box-shadow: 0px 3px 50px #45A6C44D; */
    /* box-shadow: hsl(0deg 0% 80%) 0 0 1px; */
    /* border-radius: 15px; */
    transition: transform .4s; /* Animation */
}

.sigma-rows {
    width: 85%;
    /* margin-left: 2.8rem; */
}

.sigma-class p {
    text-align: center;
    width: 150px;
    margin-top: 10px;

}

.my-cards {
    /* border: none;
    border-radius: 10px;
    width: 100% !important;
    min-height: 130px; */
    cursor: pointer;
    /* background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 50px #45A6C44D; */
    /* border-radius: 15px; */
    transition: transform .4s; /* Animation */
}
.my-cards:hover {
    background: #fff 0% 0% no-repeat padding-box;
    transform: scale(1.1);
}

.my-cards img {
    width: 100px;
}

.sigma-rows .col-lg-4 {
    margin-bottom: 2rem !important;
}
.sigma-rows .col-md-4 {
    margin-bottom: 2rem !important;
}

.card_pointer {
    width: 16rem;
    cursor: pointer;
    transition: transform .4s; /* Animation */
}

.card_pointer:hover {
    transform: scale(1.1);
}
.img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 180px;
}
/*
.pos-product-img{

    width: 50%;
    max-width: 50%;
    -webkit-box-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
} */

.pos-product{
    display: flex;
}

.pos-product-img {
    width: 50%  ;
    max-width:  50% ;
    flex: 0 0 50%;
}
.modal.modal-pos-item .modal-dialog .modal-content .modal-body .close {
    position: absolute;
    top: 25px;
    z-index: 10;
    right: 25px;
}

.close {
    margin-left: 15px;
    text-shadow: none;
    line-height: 14px;
}

.close {
    float: right;
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

a {
    /* color: #348fe2; */
    text-decoration: none;
    background-color: transparent;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info {
    padding: 25px;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .title {
    font-size: 30px;
}


.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-img .img {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 250px;
    /* -webkit-border-radius: 6px 6px 0 0; */
    /* border-radius: 6px 6px 0 0; */
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .desc {
    color: #adb5bd;
    font-size: 17px;
    font-weight: 600;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .price {
    font-weight: 600;
    font-size: 18px;
    margin: 8px 0;
}

hr {
    border: none;
    height: 1px;
    /* background: rgba(0,0,0,.1); */
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

body {
    margin: 0 !important;
    font-family: "Open Sans",sans-serif !important;
    font-size: .75rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #333 !important;
    text-align: left !important;
    /* background-color: #dee2e6; */
}

@media (min-width: 992px){
    .modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-img, .modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info {
        /* width: 50%; */
        max-width: 50%;
        -webkit-box-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row {
    font-size: 13px;
    margin-bottom: 15px;
}

modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .qty .input-group {
    width: 95px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 20%;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .qty .btn {
    background: #e9ecef;
    padding: 0;
    color: #adb5bd;
    border: none;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-default {
    color: #2d353c;
    background-color: #f1f3f4;
    border-color: #f1f3f4;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.btn {
    font-weight: 600;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .qty .form-control {
    font-weight: 600;
    font-size: .875rem;
    height: 30px;
}

.text-center {
    text-align: center!important;
}


.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row {
    font-size: 13px;
    margin-bottom: 15px;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row .option-title {
    font-size: .875rem;
    font-weight: 600;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row .option-list .option {
    width: 33.33%;
    max-width: 33.33%;
    padding: 5px;
    -webkit-box-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
}


.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row .option-list {
    margin: -5px;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row .option-list .option .option-input {
    display: none;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row .option-list .option .option-input:checked+.option-label {
    border: 2px solid #00acac;
    background: #f2fbfb;
    padding: 9px;
}


.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row .option-list .option .option-label {
    border: 1px solid #dee2e6;
    padding: 10px;
    height: 100%;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row .option-list .option .option-label .option-text {
    font-weight: 600;
    display: block;
    line-height: 16px;
    text-align: center;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row .option-list .option .option-label .option-price {
    font-weight: 600;
    color: #6c757d;
    margin-top: 5px;
    line-height: 16px;
}


.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row {
    font-size: 13px;
    margin-bottom: 15px;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row .option-title {
    font-size: .875rem;
    font-weight: 600;
}


.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .option-row .option-list {
    margin: -5px;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .btn-row {
    margin: 25px -25px -25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .btn-row .btn {
    padding: 20px;
    position: relative;
    font-size: .875rem;
    width: 50%;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal.modal-pos-item .modal-dialog .modal-content .modal-body .pos-product .pos-product-info .btn-row .btn.btn-success {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.pos-sidebar {
    background: #fff;
    /* color: #2d353c; */
    /* width: 360px; */
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0 0 360px;
    -ms-flex: 0 0 360px;
    flex: 0 0 360px;
}

.pos-sidebar .pos-sidebar-header {
    padding: 10px 25px;
    background: #6c757d;
    color: #fff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}


.pos-sidebar .pos-sidebar-header .title {
    font-size: 14px;
    font-weight: 600;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
